<div class="clearfix"></div>


<footer>

    <div class="links">
        <a target="_blank" href="https://in.linkedin.com/in/devashish-trehan-9347a1173?trk=people-guest_profile-result-card_result-card_full-click">
                <!-- <fa name="linkedin"></fa> -->
                <i class="fa fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/dev__trehan/?hl=en">
            <!-- <fa name="instagram"></fa> -->
            <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/devashish.trehan">
                <!-- <fa name="facebook"></fa> -->
                <i class="fa fa-facebook"></i>
        </a>
    </div>
    <p>copyright &copy; {{currentYear}}</p>
    <p>All Rights Reserved</p>
    <p>Designed and developed by  <a href="https://www.facebook.com/devashish.trehan" target="_blank"><span> Devashish Trehan </span></a>  &  <span> Anurag </span></p>
</footer>