.site-banner-wrap{
    position: fixed;
    left:0;
    top:70px;
    width: 100%;
    height:calc(100vh - 70px);
    z-index: -1;
    background-image: url('../../assets/images/banner.jpg');
    background-position: center;
}

.head{
    width: 100%;
    height:calc(100vh - 70px);
    padding: 100px 10px;
    box-sizing: border-box;
    text-align: center;
}

.head h1{
    font-size: 46px;
    color : var(--themeBlue);
    margin-top: 20px; 
    text-decoration: underline #848484;
}

.head h3{
    font-size: 38px;
    color: #848484;
    margin-top: 10px;
    text-decoration: underline var(--themeBlue);
}
.dynamic-text{
    width: 100%;
    background: rgba(180,180,180,.3);
    border-radius: 5px;
    padding : 10px;
    color : var(--themeBlue);
    width: auto;
    margin:30px 0;
    font-size: 26px;
}

.toEditor{
    margin-top: 100px;
    background: rgba(0,0,0,.4);
    color : #f1f1f1;
    border: 2px solid #f1f1f1;
    padding: 10px 30px;
    transition: ease-in-out .15s;
    box-shadow: none;
    border-radius: 50px;
}

.toEditor:hover{
    background: rgba(180,180,180,.6);
    border-color: transparent;
}

.features{
    width : auto;
    border: 1px solid transparent;
}

.features ul{
    width: auto;;
    list-style: none;
}

.features ul li{
    text-align: center;
    width : calc(90%);
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(180,180,180,.2);
    border-radius: 5px;
    transition:ease-in-out .3s;
    padding: 30px;
    box-sizing: border-box;
    margin-left: 5%;
}
.icon-wrap{
    padding: 5px;
    margin: 20px auto;
    width: 130px;
    height: 130px;
    /* box-sizing: border-box; */
    border-radius: 50%;
    border:1px solid var(--themeBlue);
    border-right-color: transparent;
    transition:ease-in-out .3s;
}

.features ul li mat-icon{
    width: 120px;
    height: 120px;
    background: var(--bodyColor);
    border-radius: 50%;
    border:1px solid var(--themeBlue);
    border-left-color: transparent;
    margin-top: 5px;
    text-align: center;
    line-height: 120px;
    font-size: 50px;
    transition:ease-in-out .6s;
    color : var(--themeBlue);
    
}

.features ul li:hover{
    box-shadow:2px 2px 10px rgba(40,40,40,.5);

} 

.features ul li:hover .icon-wrap{
    transform: rotate(180deg);

} 

.features ul li:hover mat-icon{
    transform: rotate(180deg);

}

.features ul li h3{
    color :#212121;
    font-size: 20px;
    margin : 10px auto;
}

.features ul li p{
    color : var(--formFieldText);
}

@media(min-width : 640px){

    .features ul li{
        width : calc(100%/2 - 90px);
        margin-left: 60px;
        float: left;
    }

}

@media(min-width : 840px){
    .features ul li{
        width : calc(100%/3 - 80px);
        margin-left: 60px;
        float: left;
    }
    
    
}