<div class="site-banner-wrap">
    <img src='assets/images/banner.jpg' alt="banner" class='banner'>
</div>
<div class="head">
    <div class="head-data">
        <h1>PhotoBooth</h1>
        <div class="clearfix"></div>
        <h3>Organize And Manipulate</h3>
        <div class="dynamic-text">{{dynamicText}}</div>
        <button mat-raised-button routerLink='/editor' class="toEditor">Start Editing</button>
    </div>
</div>


<div class="body" style="background : var(--bodyColor);min-height: 10px;">
    <div class='features'>
        <ul>
            <li>
                <div class="icon-wrap">
                    <mat-icon>crop</mat-icon>
                </div>
                
                <div>
                    <h3>Crop</h3>
                    <p>Find all the essential photo editing tools you need to quickly edit your photos online! You can crop, resize, cut out or remove background easily, and even add your own text -- or customize a text template from the text tool to use.</p>
                </div>
            </li>
            <li>
                <div class="icon-wrap">
                    <mat-icon>tune</mat-icon>
                </div>
                
                <div>
                    <h3>Tune</h3>
                    <p><p>Find all the essential photo editing tools you need to quickly edit your photos online! You can crop, resize, cut out or remove background easily, and even add your own text -- or customize a text template from the text tool to use.</p>
                </div>
            </li>
            <li>
                <div class="icon-wrap">
                    <mat-icon>photo_filter</mat-icon>
                </div>
                
                <div>
                    <h3>filters</h3>
                    <p><p>Find all the essential photo editing tools you need to quickly edit your photos online! You can crop, resize, cut out or remove background easily, and even add your own text -- or customize a text template from the text tool to use.</p>
                </div>
            </li>
            <li>
                <div class="icon-wrap">
                    <mat-icon>title</mat-icon>
                </div>
                
                <div>
                    <h3>Text</h3>
                    <p><p>Find all the essential photo editing tools you need to quickly edit your photos online! You can crop, resize, cut out or remove background easily, and even add your own text -- or customize a text template from the text tool to use.</p>
                </div>
            </li>
            <li>
                <div class="icon-wrap">
                    <mat-icon>view_compact</mat-icon>
                </div>
                
                <div>
                    <h3>Collage</h3>
                    <p><p>Find all the essential photo editing tools you need to quickly edit your photos online! You can crop, resize, cut out or remove background easily, and even add your own text -- or customize a text template from the text tool to use.</p>
                </div>
            </li>
            <li>
                <div class="icon-wrap">
                    <mat-icon>filter_frames</mat-icon>
                </div>
                <div>
                    <h3>Frames</h3>
                    <p><p>Find all the essential photo editing tools you need to quickly edit your photos online! You can crop, resize, cut out or remove background easily, and even add your own text -- or customize a text template from the text tool to use.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class='clearfix'></div>

</div>

<app-footer></app-footer>