.fields{
    width:94%;
    min-height: 0px;
    margin: 100px 3%;
}

.fields label{
    background: var(--bodyColor);
}

.fields button{
    margin : 20px unset;
    float: right;
    background: transparent;;
    color: var(--themeBlue);
}

.message{
    text-align: center;
    color: var(--formFieldText);
    margin : 20px 0;
}
.message p{
    font-size: 14px;
    margin-top: 10px;
}

@media(min-width:640px){
    .fields{
        width: 400px;
        margin-left: calc(50% - 200px);

    }
}