<h2 style="color : var(--themeBlue);position:fixed;top:70px;left:0px;font-weight:200;padding:20px;">Reset Password</h2>

<div class="fields">

    <form [formGroup]='mail' *ngIf='emailFieldVisible' (submit)='resetPassword(1,$event)'>
        <div class="message">
            <h4>Enter your Username</h4>
            <p>You will recieve a OTP to reset your password</p>
        </div>
        <div class="field-wrap">

            <div class="input-wrap">
                <label>E-mail</label>
                <input type="email" required formControlName='username' autocomplete="" autofocus>
            </div>
        </div>
        <button type="submit" mat-mini-fab>
                <mat-icon>arrow_forward</mat-icon>
            </button>
    </form>
    <div class="clearfix"></div>
    <form [formGroup]='otp' *ngIf='otpFieldVisible' (submit)='resetPassword(2,$event)'>
        <div class="message">
            <h4>Enter the OTP recieved in your Inbox</h4>
            <p>the OTP will be Valid for 10 minutes</p>
            <p>Email : <span style='color: var(--themeBlue);'>{{username}}</span></p>
        </div>
        <div class="field-wrap">

            <div class="input-wrap">
                <label>OTP</label>
                <input type="number" formControlName='otp' required id="focus1">
            </div>
        </div>
        <button type="button" mat-mini-fab style="float:left;" (click)='back()' matTooltip='Change Email Address'>
                <mat-icon>arrow_backward</mat-icon>
            </button>
        <button type="submit" mat-mini-fab>
            <mat-icon>arrow_forward</mat-icon>
        </button>

    </form>
    <div class="clearfix"></div>

    <form [formGroup]='password' *ngIf='passwordFieldVisible' (submit)='resetPassword(3,$event)'>
        <div class="message">
            <h4>OTP verified</h4>
            <p>Reset your Password</p>
        </div>
        <div class="field-wrap">

            <div class="input-wrap">
                <label>Password</label>
                <input type="password" formControlName="password" required id="focus2">
            </div>
        </div>
        <div class="field-wrap">
            <div class="input-wrap">
                <label>confirm Password</label>
                <input type="password" formControlName='conPassword' required>
            </div>
        </div>
        <button type="submit" mat-mini-fab>
                <mat-icon>arrow_forward</mat-icon>
            </button>
    </form>
    <div class="clearfix"></div>

</div>